@font-face {
    font-family: Manrope;
    src: url(https://fonts.google.com/specimen/Manrope);
}

body {
    background: hsl(210, 46%, 95%);
    width: 1440px;
    height: 1080px;
    position: relative;
    font-family: Manrope;
}

.panel-wrap{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
}

.thumbnail {
    background-image: url('../images/drawers.jpg');
    background-size: 360px 288px;
    object-fit: cover;
/*    width: 40%;*/
    padding-top:40%;
    overflow: hidden;
    display:inline;
    flex: 4;

}

.panel {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 10px;
    overflow: hidden;
}

.thumb-body {
/*
    width: 60%;
*/
    padding: 10%;
    margin: 0 auto;
    display:inline;
    flex: 6;
}